@tailwind base;
@tailwind components;
@tailwind utilities;

/* Couleurs par défaut (Mode Clair) */
:root {
  --background: #0a0f29; /* Bleu nuit */
  --foreground: #ffd700; /* Jaune chaud (goldenrod) */
  --card-bg: #14213d; /* Couleur de fond des cartes */
  --card-border: #eabe45; /* Bordure des cartes */
  --text-primary: #ffd700; /* Texte principal */
  --text-secondary: #f6f4e6; /* Texte secondaire */
}

/* Couleurs pour le Mode Sombre */
.dark {
  --background: #000b1a;
  --foreground: #e5c07b;
  --card-bg: #1b2735;
  --card-border: #ffd700;
  --text-primary: #e5c07b;
  --text-secondary: #c9c9c9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, sans-serif;
}

h1,
h2,
h3 {
  color: var(--text-primary);
}

.card {
  background-color: var(--card-bg);
  border-left: 4px solid var(--card-border);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, #1d3557, #457b9d, #a8dadc);
}

/* Style du bouton de toggle */
.dark-mode-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--card-bg);
  color: var(--text-primary);
  border: 2px solid var(--card-border);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-toggle:hover {
  background-color: var(--foreground);
  color: var(--background);
}
